<beans:beans xmlns="http://www.springframework.org/schema/security"
	     xmlns:beans="http://www.springframework.org/schema/beans" 
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:context="http://www.springframework.org/schema/context"      
	     xsi:schemaLocation="http://www.springframework.org/schema/beans
				 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				 http://www.springframework.org/schema/security
				 http://www.springframework.org/schema/security/spring-security-3.1.xsd
				 http://www.springframework.org/schema/context 
				 http://www.springframework.org/schema/context/spring-context-3.0.xsd ">
				 
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/login.html" access="permitAll" />
		<intercept-url pattern="/logout.html" access="permitAll" />
		<intercept-url pattern="/resources/**" access="permitAll" />    
	
	    <intercept-url pattern="/admin/**" access="hasAnyRole('ROLE_ADMIN')"/>	
	    <intercept-url pattern="/inventory/**" access="hasAnyRole('ROLE_INVENTORY_ADMIN','ROLE_INVENTORY_OPERATOR')"/>
	    <intercept-url pattern="/operator/**" access="hasAnyRole('ROLE_OPERATOR')"/>	
	   	<intercept-url pattern="/manager/**" access="hasAnyRole('ROLE_MANAGER')"/>
		<intercept-url pattern="/factory/**" access="hasAnyRole('ROLE_FACTORY_ADMIN','ROLE_FACTORY_OPERATOR')"/>	   	
		<intercept-url pattern="/**" access="isAuthenticated()" />
		
	    <access-denied-handler error-page="/access-denied.html"/>
	    
	
		<form-login login-page="/login.html"		
					default-target-url="/forward.html"		
					authentication-failure-url="/login.html?error=1" />
					
		<logout logout-url="/logout.html" logout-success-url="/login.html" delete-cookies="true" invalidate-session="true" />
		                
	</http>
	
	<authentication-manager>
	   <authentication-provider>
		<jdbc-user-service data-source-ref="jdbcDataSource" 
		   users-by-username-query="select user_name as username,password, is_active as enabled 
		      from cy_be_users where user_name=?"  
		   authorities-by-username-query="select user_name as username, role as authority from cy_be_users where user_name =?" 
		/>
	   </authentication-provider>
	</authentication-manager>

</beans:beans>
